__pycache__/
*.py[cod]
*.so
*.pyo

build/
dist/
*.egg-info/
pip-wheel-metadata/

env/
venv/
.venv/

.vscode/
*.code-workspace

.ipynb_checkpoints/

*.log
*.sqlite3
.DS_Store
Thumbs.db

*.sublime-workspace
.idea/
*.iml

poetry.lock
Pipfile
Pipfile.lock

.env
.env.local
*.secrets
